*body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

main{
  width: 95vw;
  margin: 0 auto;


}

.markdown{
  padding: 50px ;
  display: grid;
  row-gap: 4rem;

}

.input{
  border-radius: 6px;
  font-size: 1.5rem;
  max-height: 30vh;
  box-shadow: darkolivegreen  ;
  overflow: hidden;
 
}


.input,
.result {
  padding: 1rem 2rem;
}


pre {
  background: #222;
  display: inline-block;
  border-radius: var(--radius);
  padding: 1rem 2rem;
  color: yellow;
  margin-bottom: 1.5rem;
}


@media screen and (min-width: 992px) {
  .markdown {
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
}